@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E4DFCF;
}

* {
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}

/* HEADINGS */



/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}





.image-aboutus-banner {
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

  color: #fff;
  padding-top: 225px;
  padding-bottom: 200px;
}





.carousel-caption {
  bottom: 35%;
  font-size: 2rem;

}

.carousel-caption h5 span {
  font-size: 4rem;
  color: rgba(204, 204, 204, 0.75);
  /* font-family: 'Playball', cursive;*/
  /*font-family: 'Fredoka One', cursive;*/
  font-family: 'Baloo Bhai', cursive;
}




.typed-cursor {
  opacity: 1;
  font-size: 300%;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*-- /gallery --*/

section#gallery {
  position: relative;
  text-align: left;
}

.gal-img img {
  background: #fff;
}

.gal-info:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/*-- //gallery --*/

h3.tittle {
  font-size: 2.7em;
  letter-spacing: 1px;
  color: #212529;
  font-weight: 700;
}

.sub-tittle {
  font-size: 0.35em;
  color: #ff3838;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  text-transform: uppercase;
}

/*--/info--*/

.property-info-list {
  padding: 1.2em 1em;
  background: #f4f5f7;
}

.property-info-list.mode-info {
  background: none;
}

.detail h4.title {
  color: #1e3543;
  font-size: 1em;
}

.detail ul li {
  list-style: none;
  width: 44%;
  float: left;
  font-weight: 400;
  font-size: 13px;
  color: #888;
  margin: 0.5em;
}

.detail ul li span {
  margin-left: 0.3em;
  color: #393e42;
}

.detail ul li:hover span,
.footer-properties:hover a {
  color: #17c0eb;
}

.detail .location a,
.footer-properties a {
  font-size: 13px;
  color: #535353;
  font-weight: 400;
}

.footer-properties span.year {
  float: right !important;
  font-size: 13px;
  color: #535353;
}

.footer-properties span {
  margin-right: 5px;
}

ul.facilities-list span {
  margin-right: 0.5em;
}

.footer-properties {
  border-top: 1px solid #ddd;
  padding-top: 0.7em;
  margin-top: 1em;
}

/*--//info--*/
.money {
  position: absolute;
  top: 10%;
  background: #fff;
  font-size: 0.9em;
  padding: 0.5em 1em;
  font-weight: 600;
  left: 4%;
  color: #17c0eb;
}


@media screen and (max-width:1200px) {
  .carousel-caption h5 span {
    font-size: 3rem;
  }

  .carousel {
    margin-top: 5%;
  }

  .image-aboutus-banner {
    padding-top: 225px;
    padding-bottom: 200px;
  }

  .image-aboutus-para {
    font-size: 0.8rem;
  }

  .lg-text {
    font-size: 1.5rem;
  }

}

@media screen and (max-width:900px) {
  .carousel-caption h5 span {
    font-size: 1.8rem;
  }

  .carousel {
    margin-top: 9%;
  }

  .image-aboutus-banner {
    padding-top: 200px;
    padding-bottom: 175px;
  }

  .image-aboutus-para {
    font-size: 0.8rem;
  }

  .lg-text {
    font-size: 1.5rem;
  }

}

@media screen and (max-width:800px) {
  .carousel-caption h5 span {
    font-size: 1.6rem;
  }

  .carousel {
    margin-top: 11%;
  }

  .image-aboutus-banner {
    padding-top: 175px;
    padding-bottom: 150px;
  }

  .image-aboutus-para {
    font-size: 0.8rem;
  }

  .lg-text {
    font-size: 1.5rem;
  }

}

@media screen and (max-width:700px) {
  .carousel-caption h5 span {
    font-size: 1.6rem;
  }

  .carousel {
    margin-top: 12%;
  }

  .image-aboutus-banner {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .image-aboutus-para {
    font-size: 0.8rem;
  }

  .lg-text {
    font-size: 1.5rem;
  }

}

@media screen and (max-width:600px) {
  .carousel-caption h5 span {
    font-size: 1.5rem;
  }

  .carousel {
    margin-top: 14%;
  }

  .image-aboutus-banner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .image-aboutus-para {
    font-size: 0.8rem;
  }

  .lg-text {
    font-size: 1.5rem;
  }

}

@media screen and (max-width:421px) {
  .carousel-caption h5 span {
    font-size: 1rem;
  }

  .carousel {
    margin-top: 21%;
  }

  .image-aboutus-banner {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .image-aboutus-para {
    font-size: 0.5rem;
  }

  .lg-text {
    font-size: 1rem;
  }

}

@media screen and (max-width:300px) {
  .carousel-caption h5 span {
    font-size: 0.8rem;
  }

  .carousel {
    margin-top: 25%;
  }

  .image-aboutus-banner {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .image-aboutus-para {
    font-size: 0.5rem;
  }

  .lg-text {
    font-size: 1rem;
  }

}


.cal>h1 {
  /*color: rgba(255, 149, 12, 0.78);*/
  color: #5c5c5c;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.cal>hr {
  margin-top: 0;
  margin-bottom: 20px;
  max-width: 50px;
  border-width: 3px;
  border-color: #f05f40;
}



.mgtop {
  margin-top: 6%;
}

.newscards {
  height: 100%;
}

.col-center {
  margin: 0 auto;
  float: none !important;
}

.carouseln {
  margin: 50px auto;
  padding: 0 70px;
}

.carouseln .item {
  color: #6c757d;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}

.carouseln .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.carouseln .img-box img {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: block;
  border-radius: 50%;
}

.carouseln .testimonial {
  padding: 30px 0 10px;
  margin-left: 20%;
  margin-right: 20%;
}

.carouseln .overview {
  font-style: italic;
}

.carouseln .overview b {
  text-transform: uppercase;
  color: #7AA641;
}

.carouseln .carousel-controln {
  width: 350px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}

.carousel-controln i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carouseln>.carousel-indicators {
  margin-bottom: -1rem;
}

.carouseln>.carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 992px) {
  .carouseln .carousel-controln {
    width: 70px;
  }

  .carouseln .testimonial {
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 576px) {
  .carouseln .carousel-controln {
    width: px;
  }

  .carouseln .testimonial {
    margin-right: 0%;
    margin-left: 0%;
  }
}

@media screen and (max-width: 300px) {
  .test1 {
    display: none;
  }

}

footer {
  border-top: 1px solid #EFEFEF;
  padding: 7px 0;
  margin-top: 0px;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);

  line-height: normal !important;
}

footer p {
  margin-top: 15px;
  margin-bottom: 0;
}

footer a {
  font-weight: bold;
  font-size: 0.9rem;
  color: #FFF !important;
}

footer h2 {
  /*color: rgba(255, 149, 12, 0.78);*/
  color: #E8DDCD;
  position: relative;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  margin-top: 30px;
}

footer hr {
  margin-top: 0;
  margin-bottom: 20px;
  border-width: 3px;
  border-color: #f05f40;
}

footer a {
  display: inherit !important;
  text-align: left !important;
}

footer a:hover {
  color: #ffe100 !important;
  text-decoration: none;
}

.copyright {
  background-color: #043353;
  color: #E8DDCD;
  padding: 10px;
}

.copyright a {
  color: #FFF !important;
  padding: 5px;
  text-decoration: none;
}

.copyright a:hover {
  color: #ffe100 !important;
}

@media screen and (max-width: 576px) {
  footer h2 {
    font-size: 1rem;
  }

  footer a {
    font-size: 0.8rem;
  }

  .copyright p,
  .copyright p a {
    font-size: .8rem;
  }
}

.social-icons ul {
  padding: 0;
  margin: 3px 0 0;
}

.social-icons ul li a {
  border: 0 none;
  border-radius: 0;
  color: #fff;
  padding: 0px;
}

.social-icons ul li {
  display: inline-block;
  margin-right: 2px;
}

.social-icons ul li a i {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 100%;
  font-size: 15px;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover {
  color: #fff;
  border-radius: 0;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.fa-facebook:hover {
  background: black;
}

.fa-twitter:hover {
  background: black;
}

.fa-instagram:hover {
  background: black;
}


@media screen and (max-width:268px) {

  .map>.camploc,
  .map>iframe {
    display: none;
  }
}

/* login form css*/