<!DOCTYPE html>
{% include "includes/header.html" %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>
    <div class="image-aboutus-banner" id="about" style="margin-top:13em;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="lg-text">About Us</h1>
                    <p class="image-aboutus-para pt-4" style="font-family:  cursive;">We are here to give seamless
                        access to the affordable rooms for the needy peoples. The name of the company is “TENANTBUDDY”.
                        This is important because the people like students and bachelors always need to find Rooms by
                        going Door to Door for searching of rooms.
                        We will let the peoples find all the available room in their nearby area at an affordable price
                        range on their Mobile phone or computer. Our main focus is on those peoples who are outsider for
                        that local area and are less known about the place.
                    </p>
                </div>
            </div>
        </div>
    </div>




    {% include "includes/footer.html" %}

</body>

</html>