<!DOCTYPE html>
{% include "includes/header.html" %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

    <title>About Us</title>
</head>
<style>
    .body {
        background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);

    }
</style>

<body class="bg-grad-to-br from-blue-700 to-green-200">
    <div id="about" style="margin-top:13em;">
        <div class=" mx-auto text-center ">
            <div class="">
                <div class="">
                    <h1 class="text-3xl font-bold mb-4">About Us</h1>
                    <p class="text-xl font-semibold" style="font-family:  cursive;">We are here to give seamless
                        access to the affordable rooms for the needy peoples. The name of the company is “TENANTBUDDY”.
                        This is important because the people like students and bachelors always need to find Rooms by
                        going Door to Door for searching of rooms.
                        We will let the peoples find all the available room in their nearby area at an affordable price
                        range on their Mobile phone or computer. Our main focus is on those peoples who are outsider for
                        that local area and are less known about the place.
                    </p>
                </div>
            </div>
        </div>
    </div>




    {% include "includes/footer.html" %}

</body>

</html>