<!DOCTYPE html>
{% include "includes/header.html" %}
{% load static %}
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="{% static 'css/regStyle.css' %}"> -->

        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
        <title>Login</title>
</head>

<!-- Style -->




<body class="bg-blue-100 my-32 md:my-52 font-sans">
        <div class="container mx-auto bg-white  text-center w-11/12 lg:w-5/12 rounded-xl shadow-lg  ">
                <div class="py-10 text-center text-3xl font-bold">
                        <h1 class="transition-all ease transform hover:scale-110 ">Login</h1>
                </div>
                <div class="form m-auto w-full md:w-75">
                        <form action="login" method="post">
                                {% csrf_token %}
                                <div class="flex sm:justify-center flex-col  md:px-24  align-center">
                                        <div class="text-left text-xl p-6  ">
                                                <label class="pl-3 antialiased italic font-semibold transition duration-300 ease-in-out hover:text-blue-300"
                                                        for="area">Email</label>

                                                <input class="w-full transition duration-500 ease-in-out border-solid border-b-2 border-blue-200 focus:border-blue-500 h-10 ml-1 focus:shadow-xl focus:outline-none"
                                                        type="email" name="email" id="email" required />
                                        </div>
                                        <div class="text-left text-xl p-6  ">
                                                <label class="pl-3 antialiased italic font-semibold transition duration-300 ease-in-out hover:text-blue-300"
                                                        for="area">Password</label>

                                                <input class="w-full transition duration-500 ease-in-out border-solid border-b-2 border-blue-200 focus:border-blue-500 h-10 ml-1 focus:shadow-xl focus:outline-none"
                                                        type="Password" name="pass" id="pass" required />
                                        </div>

                                </div>
                                <div class=" justify-center">
                                        <input type="submit"
                                                class="transition duration-500 ease-in-out font-bold text-lg bg-blue-300 rounded px-3 py-1 m-3 transform hover:scale-105 hover:bg-blue-400 hover:"
                                                value="Submit" />
                                </div>
                        </form>
                        <div>
                                <span class="text-2xl font-semibold  ">
                                        <p class="px-3 pb-2 text-blue-400">
                                                New user? <a class="pl-2 text-decoration-none text-black"
                                                        href="register">
                                                        Register</a>
                                        </p>
                                </span>
                        </div>
                </div>
        </div>


        {% include "includes/footer.html" %}
</body>

</html>